@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
p,
li,
figure,
figcaption,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
button {
  list-style: none;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.header .header_logo {
  margin-top: 30px;
}

.nav__content {
  max-width: 350px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 2px solid #4fcc3f;
}

.nav__item {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.nav__item-text {
  width: 100%;
  color: #fff;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.nav__item-text:hover {
  color: #4fcc3f;
  -webkit-box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
}

.nav .burger {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.nav .burger .line {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.nav .burger .line2,
.nav .burger .line3 {
  top: 13px;
}

.nav .burger .line4 {
  bottom: 0;
}

.nav #checkbox,
.nav .burger {
  display: none;
}

.nav #checkbox:checked + label > .burger > .line1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 5%;
      -ms-transform-origin: 5%;
          transform-origin: 5%;
  width: 41px;
}

.nav #checkbox:checked + label > .burger > .line2 {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
}

.nav #checkbox:checked + label > .burger > .line3 {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color: transparent;
}

.nav #checkbox:checked + label > .burger > .line4 {
  -webkit-transform-origin: 5%;
      -ms-transform-origin: 5%;
          transform-origin: 5%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 41px;
}

.nav #checkbox:checked ~ .nav__content {
  max-height: 300px;
  font-size: 16px;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding-top: 200px;
  background-image: url("../img/header/header_bg.png");
}

.header__content {
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.header__content .header_title {
  padding: 50px 0;
  font-style: italic;
  color: #fff;
  font-size: calc(28px + 10 * ((100vw - 320px) / 830));
}

.header__content .header_subtitle {
  color: #fff;
  font-size: calc(18px + 4 * ((100vw - 320px) / 830));
}

.social_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.social_block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 15px;
  border: 1px solid #4FCC3F;
  border-radius: 50%;
}

.social_block a:hover {
  -webkit-box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #000;
}

.social_block a img {
  height: 25px;
}

.privilege__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.privilege__box-item {
  width: 250px;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.privilege__box-item h2 {
  color: #4fcc3f;
  margin: 10px 0;
}

.hot__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hot__offer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 25px;
}

.box_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 475px;
  overflow: hidden;
}

.box_item .item_bg {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.box_item .item {
  position: absolute;
  width: 80%;
  padding: 50px 20px 0;
  text-align: center;
  background: #fff;
}

.box_item .item h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #0f0f0f;
  color: #4fcc3f;
  text-transform: uppercase;
}

.box_item .item img,
.box_item .item span {
  padding: 10px 0;
  color: #4fcc3f;
  font-size: calc(14px + 6 * ((100vw - 320px) / 830));
}

.box_item .item input {
  display: block;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #4fcc3f;
}

.box_item .item .btn {
  margin: 30px auto;
  padding: 10px 15px;
  background: #0f0f0f;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box_item .item .btn:hover {
  -webkit-box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
}

.box_item:hover .item_bg {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.block_space1 {
  width: 100%;
  border-bottom: 61px solid #0f0f0f;
  border-right: 96vw solid transparent;
}

.about {
  text-align: center;
  background: #0f0f0f;
}

.about .section_title {
  color: #fff;
}

.with_us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin: 40px auto;
  color: #fff;
  /*
    .left-1 { padding-top: 20px; }
    .left-2 { padding: 10px 50px 0 0; }
    .left-3 { padding-top: 40px; }
    .right-1 { padding: 20px 0 0 10px; }
    .right-2 { padding: 0 0 0 50px; }
    .right-3 { padding: 40px 0 0 10px; }
    */
}

.with_us__left,
.with_us__right {
  width: 50%;
}

.with_us .circle {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  background: #F3F3F3;
  -webkit-box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
}

.with_us .item {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.with_us .item .description {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.with_us .item .description span {
  color: #4fcc3f;
  font-weight: bold;
  white-space: nowrap;
  font-size: calc(18px + 4 * ((100vw - 320px) / 830));
}

.with_us .item img {
  width: 50px;
  height: 50px;
  margin: 0 40px;
  cursor: pointer;
  z-index: 1;
}

.with_us .item:hover .desc-1 {
  visibility: visible;
  opacity: 1;
}

.with_us .item:hover .desc-2 {
  visibility: visible;
  opacity: 1;
}

.with_us .item:hover .desc-3 {
  visibility: visible;
  opacity: 1;
}

.with_us .item:hover .desc-4 {
  visibility: visible;
  opacity: 1;
}

.with_us .item:hover .desc-5 {
  visibility: visible;
  opacity: 1;
}

.with_us .item:hover .desc-6 {
  visibility: visible;
  opacity: 1;
}

.with_us .item .icon-2 {
  margin-right: 80px;
}

.with_us .item .icon-5 {
  margin-left: 80px;
}

.reviews .section_title {
  margin-bottom: 20px;
}

.reviews .slider__box {
  position: relative;
}

.reviews .slider__box-item {
  width: 700px;
  margin: 0 auto;
  color: #fff;
}

.reviews .slider__box-item .img_item {
  width: 100px;
  height: 100px;
  margin: 20px 0;
  border-radius: 50%;
  border: 1px solid #4fcc3f;
}

.reviews .slider__box-item .title_item {
  color: #4fcc3f;
  font-size: calc(14px + 4 * ((100vw - 320px) / 830));
}

.reviews .slider__box .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.reviews .slider__box .slick-dots li {
  width: 14px;
  height: 14px;
  margin: 10px;
  border: 1px solid #4fcc3f;
  border-radius: 50%;
}

.reviews .slider__box .slick-dots button {
  display: none;
}

.reviews .slider__box .slick-dots .slick-active {
  background: #4fcc3f;
}

.reviews .slider__box .slick-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 60px;
  margin-top: -60px;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}

.reviews .slider__box .slick-prev {
  left: 10%;
  background: url(../img/about/slider-prev.svg) no-repeat;
}

.reviews .slider__box .slick-next {
  background: url(../img/about/slider-next.svg) no-repeat;
  right: 10%;
}

.block_space2 {
  width: 100%;
  border-top: 61px solid #0f0f0f;
  border-right: 96vw solid transparent;
}

.info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__box .section_title {
  padding-right: 30px;
}

.info__box-aside {
  min-width: 430px;
  padding-top: 20px;
  margin: 40px 0;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
}

.info__box .aside__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__box .aside__box-item {
  min-width: 185px;
  text-align: center;
  margin: 15px;
  border: 1px solid #4fcc3f;
}

.info__box .aside__box h3 {
  background: #0f0f0f;
  color: #4fcc3f;
  padding: 5px 10px;
}

.info__box .aside__box a {
  margin: 10px;
  padding: 10px;
  border: 1px solid #4fcc3f;
  color: #0f0f0f;
}

.info__box .aside__box a:hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
}

.slider__agents {
  position: relative;
  padding-bottom: 40px;
}

.slider__agents .slick-arrow {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 60px;
  cursor: pointer;
  z-index: 5;
  color: #4fcc3f;
  background: transparent;
}

.slider__agents .slick-next {
  right: 30%;
}

.slider__agents .slick-prev {
  left: 30%;
}

.slider__agents-item {
  position: relative;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slider__agents-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.slider__agents-item img {
  position: absolute;
  top: 25px;
  left: 93px;
  border-radius: 50%;
}

.slider__agents-item .profile {
  padding: 25px;
  margin-top: 151px;
  background: #fff;
  border: 1px solid #4fcc3f;
  -webkit-box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
}

.box__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__work-item {
  text-align: center;
  width: 260px;
  margin: 10px;
  padding: 10px;
}

.box__work-item img {
  width: 61px;
  height: 61px;
}

.box__work-item h3 {
  color: #4fcc3f;
}

.block_space3 {
  width: 100%;
  border-bottom: 61px solid #0f0f0f;
  border-right: 96vw solid transparent;
}

.contacts {
  background: #0f0f0f;
}

.contacts .section_title {
  color: #4fcc3f;
}

.contacts .item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  background: #F3F3F3;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
}

.contacts .item__box-item {
  width: 190px;
  text-align: center;
  padding: 10px;
}

.contacts .section_text {
  text-align: center;
  width: 700px;
  margin: 50px auto;
  color: #fff;
}

.contacts .questions__form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #4fcc3f;
}

.contacts .questions__form h2 {
  padding: 10px;
}

.contacts .questions__form form {
  text-align: center;
  padding: 20px;
}

.contacts .questions__form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-family: "RobotoCondensed", sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.contacts .questions__form textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-family: "RobotoCondensed", sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.contacts .questions__form .btn {
  margin: 50px auto 0;
  color: #4fcc3f;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #0f0f0f;
  padding: 50px;
}

.footer .header_logo {
  width: 210px;
}

.footer .header_social_block {
  margin: 0;
}

.footer .footer__phones {
  width: 210px;
  color: #4fcc3f;
  white-space: pre;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F3F3F3;
  font-family: "RobotoCondensed", sans-serif;
  overflow-x: hidden;
}

section {
  position: relative;
  padding: 0 calc(50% - 575px);
  background-size: cover;
}

.btn {
  display: block;
  padding: 15px 50px 15px 50px;
  border: 2px solid #4FCC3F;
  border-radius: 4px;
  margin: 50px auto;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  -webkit-box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
          box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
}

.btn:hover {
  background-color: #333;
  color: #4fcc3f;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.section_title {
  text-align: center;
  padding: 0 15px;
}

.section_title h2 {
  padding: 40px 0 10px;
  font-size: calc(20px + 10 * ((100vw - 320px) / 830));
}

.section_title p {
  font-size: calc(16px + 3 * ((100vw - 320px) / 830));
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .circle {
    display: none;
  }

  .with_us {
    padding: 0 20px;
    border-radius: 5px;
  }

  .with_us__left,
  .with_us__right {
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
            box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
  }

  .with_us__left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .with_us__right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .with_us .item .description {
    visibility: visible;
    opacity: 100%;
    color: #000;
    padding: 0 15px;
    margin: auto;
  }

  .with_us .item img {
    display: none;
  }
}

@media (max-width: 768px) {
  .main__header {
    background-position: center;
  }

  .privilege__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .privilege__box-item {
    margin: 0;
  }

  .hot__offer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hot__offer-box .box_item {
    margin-bottom: 20px;
  }

  .with_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .with_us__left,
  .with_us__right {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0%;
  }

  .with_us span {
    font-size: 20px;
  }

  .block_space1,
  .block_space2,
  .block_space3 {
    display: none;
  }
}

@media (max-width: 480px) {
  .header .header_logo {
    width: 250px;
    margin-top: 60px;
  }

  .header .nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
  }

  .header .nav__content {
    padding-top: 15px;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .header .nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #333;
  }

  .header .nav .burger {
    display: block;
  }

  .main__header {
    padding-top: 130px;
  }

  .main__header .header__content .header_title {
    padding: 0 0 30px;
  }

  .main__header .header__content .social_block {
    margin: 20px auto;
  }

  .main__header .header__content .btn {
    margin: 0 auto;
  }
}