<footer class="footer" id="footer">
    <div class="footer__container _container">

        <a href="/" class="header__logo"><img src="./img/header/skateboard.svg" alt="logo">Skateboard</a>

        <nuv class="footer__menu menu__body">
            <ul class="menu__list">
                <li><a href="#" class="menu__link">Home</a></li>
                <li><a href="#" class="menu__link">Services</a></li>
                <li><a href="#" class="menu__link">partners</a></li>
                <li><a href="#" class="menu__link">About</a></li>
                <li><a href="#" class="menu__link">Contacts</a></li>
            </ul>
        </nuv>

        <a class="footer__phone" href="tel:+380978006070"><small>+38</small>(097)800-60-70</a>

    </div>
</footer>