<div class="header__body main__slider">
    <div class="main__slider-body">
        <div class="main__slider-item item__sider">

            <div class="item__sider-content">
                <div class="item__sider-container _container">
                   
                    <div class="title">
                        <div class="title__item">Exclusive models</div>
                        <div class="title__main title__main-white">We make your fantasies come true</div>
                    </div>

                    <div class="item__sider-text">Boards of various sizes and shapes. Quality materials and custom assembly. We provide you with related products, quality service and rare parts. We take into account all your wishes. We make convenient payment and delivery for you at any time.</div>

                    <a href="#" class="item__sider-btn btn"><span>to join</span></a>

                </div>
            </div>

            <div class="item__sider-bg _item-bg">
                <img src="./img/item-bg1.jpg" alt="item-bg">
            </div>

        </div>
    </div>
</div>