<header class="header">
    <div class="header__container _container">

        <div class="burger">
            <div class="burger__menu">
                <span class="global line-top"></span>
                <span class="global line-middle"></span>
                <span class="global line-bottom"></span>
            </div>
        </div>
        
        <a href="#" class="header__logo"><img src="./img/header/skateboard.svg" alt="logo">Skateboard</a>

        <div class="header__menu menu">
            <nuv class="menu__body">
                <ul class="menu__list">
                    <li><a href="#" class="menu__link">Home</a></li>
                    <li><a href="#" class="menu__link">Services</a></li>
                    <li><a href="#" class="menu__link">partners</a></li>
                    <li><a href="#" class="menu__link">About</a></li>
                    <li><a href="#" class="menu__link">Contacts</a></li>
                </ul>
            </nuv>
        </div>

        <div class="header__actions actions-header">
            <a href="#" class="actions-header__region">
                <img src="./img/header/world.svg" alt="icon">
                <span>Select region</span>
            </a>

            <div class="actions-header__user user-header">
                <div class="user-header__icon">
                    <img src="./img/header/person.svg" alt="icon">
                    <span class="arr-up">&#8743</span>
                    <span class="arr-down">&#8744</span>
                </div>

                <ul class="user-header__menu">
                    <li><img src="./img/header/ancient.svg" alt=""><a href="#" class="user-header__link">My account</a></li>
                    <li><img src="./img/header/world.svg" alt=""><a href="#" class="user-header__link">Select region</a></li>
                    <li><img src="./img/header/stop.svg" alt=""><a href="#" class="user-header__link">Chosen</a></li>
                    <li><img src="./img/header/growth.svg" alt=""><a href="#" class="user-header__link">Statistics</a></li>
                </ul>
            </div>  
        </div>
        
    </div>
</header>