<div class="header__body main__slider">
    <div class="main__slider-content">

        <div class="main__slider-box box__sider">
            <div class="box__sider-item _item-bg">

                <img class="bg1" src="./img/item-bg1.jpg" alt="item-bg">

            </div>

            <div class="box__sider-item _item-bg">

                <img class="bg2" src="./img/item-bg2.jpg" alt="item-bg">

            </div>
        </div>

        <div class="main__slider-container _container">

            <div class="title">
                <div class="title__item">Exclusive models</div>
                <div class="title__main title__main-white">We make your fantasies come true</div>
            </div>

            <div class="text">Boards of various sizes and shapes. Quality materials and custom assembly. We provide you with related products, quality service and rare parts. We take into account all your wishes. We make convenient payment and delivery for you at any time.</div>

            <a href="#" class="content-btn btn"><span>to join</span></a>

        </div>

        <div class="main__slider-control control__slider">
            <img class="control__slider-wheel" src="./img/skateboard-wheel.svg" alt="wheel-icon">
        </div>
    </div>
</div>

<!--
<div class="control__slider-arrow control__slider-arrow_prev">&#10094</div>
<div class="control__slider-arrow control__slider-arrow_next">&#10095</div>
&-arrow {
            position: relative;
            font-size: 50px;
            color: #ffb229;
            cursor: pointer;
            z-index: 2;
        }
-->