<section class="products">
    <div class="products__container _container">

        <div class="products__header">
            <div class="title">
                <div class="title__item">Popular</div>
                <h2 class="title__main">The best for you</h2>
            </div>

            <div class="products__header-decor box__decor">
                <div class="box__decor-item"><span></span></div>
                <div class="box__decor-icon"><img src="./img/icon-skateboard.svg" alt="icon"></div>
                <div class="box__decor-item"><span></span></div>
            </div>
        </div>

        <div class="products__slider slider__products">

            <div class="slider__products-body">
                <div class="item">

                    <a href="#" class="item-img">
                        <img 
                            class="lazyload"
                            src="./img/products/prod-1.jpg"
                            data-src="./img/products/prod-1.jpg"
                            alt="image"
                            loading="lazy"
                        />
                    </a>

                    <div class="item-desc">
                        <a href="#" class="item-title">Electric skateboard RipStik Electric blue</a>

                        <div class="item-price">
                            <span class="item-price">$$$$$$$$$$$$$</span>
                            <div class="item-decor"></div>
                        </div>
                    </div>

                    <a href="#" class="item-btn btn"><span>to order</span></a>

                </div>

                <div class="item">

                    <a href="#" class="item-img">
                        <img 
                            class="lazyload"
                            src="./img/products/prod-2.jpg"
                            data-src="./img/products/prod-2.jpg"
                            alt="image"
                            loading="lazy"
                        />
                    </a>

                    <div class="item-desc">
                        <a href="#" class="item-title">3300 Watt Off Road Electric Skateboard</a>

                        <div class="item-price">
                            <span class="item-price">$$$</span>
                            <div class="item-decor"></div>
                        </div>
                    </div>

                    <a href="#" class="item-btn btn"><span>to order</span></a>

                </div>

                <div class="item">

                    <a href="#" class="item-img">
                        <img 
                            class="lazyload"
                            src="./img/products/prod-3.png"
                            data-src="./img/products/prod-3.png"
                            alt="image"
                            loading="lazy"
                        />
                    </a>

                    <div class="item-desc">
                        <a href="#" class="item-title">Italian Automaker Skate Decks: Raptor concept skateboard</a>

                        <div class="item-price">
                            <span class="item-price">$$$</span>
                            <div class="item-decor"></div>
                        </div>
                    </div>
                    
                    <a href="#" class="item-btn btn"><span>to order</span></a>

                </div>

                <div class="item">

                    <a href="#" class="item-img">
                        <img 
                            class="lazyload"
                            src="./img/products/prod-2.jpg"
                            data-src="./img/products/prod-2.jpg"
                            alt="image"
                            loading="lazy"
                        />
                    </a>

                    <div class="item-desc">
                        <a href="#" class="item-title">3300 Watt Off Road Electric Skateboard</a>

                        <div class="item-price">
                            <span class="item-price">$$$</span>
                            <div class="item-decor"></div>
                        </div>
                    </div>

                    <a href="#" class="item-btn btn"><span>to order</span></a>

                </div>
            </div>

            <div class="slider__products-control control__slider">
                <a href="#" class="control__slider-link">goods</a>
            </div>

        </div>

    </div>
</section>