<section class="quotes" id="quotes">
    <div class="quotes__container _container">

        <div class="quotes__header">
            <div class="title">
                <div class="title__item">Quotes</div>
                <h2 class="title__main">customer reviews</h2>
            </div>

            <div class="quotes__header-decor box__decor">
                <div class="box__decor-item"><span></span></div>
                <div class="box__decor-icon"><img src="./img/icon-skateboard.svg" alt="icon"></div>
                <div class="box__decor-item"><span></span></div>
            </div>
        </div>

        <div class="quotes__slider slider-quotes">

            <div class="slider-quotes__body">
                
                <div class="slider-quotes__item">
                    <div class="slider-quotes__box">
                        <img class="slider-quotes__img" src="./img/mokup-img.png" alt="">

                        <div class="slider-quotes__content">
                            <p class="slider-quotes__text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi, commodi perferendis adipisci maiores praesentium! Iure exercitationem rem, amet mollitia natus placeat voluptate ipsa esse eos assumenda, ipsum repellendus recusandae cumque qui expedita enim fugit! Cupiditate accusamus explicabo, vel, itaque nemo amet ullam est fuga veritatis expedita corporis reiciendis, fugit perspiciatis molestiae? Aliquam perspiciatis modi pariatur molestiae quibusdam dolore molestias tempore esse temporibus soluta, accusantium nemo voluptatem voluptas eos expedita ullam at dolorum dolor nisi exercitationem vitae. Ipsam, atque totam magni laboriosam modi enim veniam ratione dolor, officiis, vel excepturi fugit? Non, mollitia. Deserunt maxime tempora labore animi, dolore in."</p>
    
                            <span class="slider-quotes__name">Name</span>
                        </div>
                    </div>
                </div>

                <div class="slider-quotes__item">
                    <div class="slider-quotes__box">
                        <img class="slider-quotes__img" src="./img/mokup-img.png" alt="">

                        <div class="slider-quotes__content">
                            <p class="slider-quotes__text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi, commodi perferendis adipisci maiores praesentium! Iure exercitationem rem, amet mollitia natus placeat voluptate ipsa esse eos assumenda, ipsum repellendus recusandae cumque qui expedita enim fugit! Cupiditate accusamus explicabo, vel, itaque nemo amet ullam est fuga veritatis expedita corporis reiciendis, fugit perspiciatis molestiae? Aliquam perspiciatis modi pariatur molestiae quibusdam dolore molestias tempore esse temporibus soluta, accusantium nemo voluptatem voluptas eos expedita ullam at dolorum dolor nisi exercitationem vitae. Ipsam, atque totam magni laboriosam modi enim veniam ratione dolor, officiis, vel excepturi fugit? Non, mollitia. Deserunt maxime tempora labore animi, dolore in."</p>
    
                            <span class="slider-quotes__name">Name</span>
                        </div>
                    </div>
                </div>

                <div class="slider-quotes__item">
                    <div class="slider-quotes__box">
                        <img class="slider-quotes__img" src="./img/mokup-img.png" alt="">

                        <div class="slider-quotes__content">
                            <p class="slider-quotes__text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi, commodi perferendis adipisci maiores praesentium! Iure exercitationem rem, amet mollitia natus placeat voluptate ipsa esse eos assumenda, ipsum repellendus recusandae cumque qui expedita enim fugit! Cupiditate accusamus explicabo, vel, itaque nemo amet ullam est fuga veritatis expedita corporis reiciendis, fugit perspiciatis molestiae? Aliquam perspiciatis modi pariatur molestiae quibusdam dolore molestias tempore esse temporibus soluta, accusantium nemo voluptatem voluptas eos expedita ullam at dolorum dolor nisi exercitationem vitae. Ipsam, atque totam magni laboriosam modi enim veniam ratione dolor, officiis, vel excepturi fugit? Non, mollitia. Deserunt maxime tempora labore animi, dolore in."</p>
    
                            <span class="slider-quotes__name">Name</span>
                        </div>
                    </div>
                </div>
                                
            </div>

            <div class="slider-quotes__control control-quotes">
                <div class="control-quotes__decor"></div>
                <div class="control-quotes__link"></div>
                <div class="control-quotes__decor"></div>
            </div>

        </div>

        <div class="subscribe">
            <div class="subscribe__title">
                <img src="./img/open-email.svg" alt="">
                <span>Subscription</span>
            </div>

            <div class="subscribe__body">
                <div class="subscribe__column">
                    <div class="subscribe__text">To receive notifications of new offers, enter your email address</div>
                </div>
                <div class="subscribe__column">
                    <form class="subscribe__form" accept="#">
                        <div class="subscribe__form-input">
                            <input class="input" autocomplete="off" type="text" name="form[]" data-error="Error" placeholder="Your e-mail">
                        </div>
                        <button class="subscribe__form-btn" type="submit">Ok</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>