<div class="services">
    <div class="services__container _container">

        <div class="services__header">
            <div class="title">
                <div class="title__item">Services</div>
                <h2 class="title__main">The best for you</h2>
            </div>

            <div class="services__header-decor box__decor">
                <div class="box__decor-item"><span></span></div>
                <div class="box__decor-icon"><img src="./img/icon-skateboard.svg" alt="icon"></div>
                <div class="box__decor-item"><span></span></div>
            </div>
        </div>

        <div class="services__row">
            <div class="services__column">
                <div class="services__item">
                    <a href="#" class="services__item-img">
                        <img src="./img/mokup-img.png" alt="">
                    </a>                   
                    <div class="services__item-title">expert review</div>
                    <div class="services__item-text">We collect exclusive models and make a convenient choice for you</div>
                    <a href="#" class="services__item-btn"><span>more</span></a>                  
                </div>
            </div>

            <div class="services__column">
                <div class="services__item">
                    <a href="#" class="services__item-img">
                        <img src="./img/mokup-img.png" alt="">
                    </a>                   
                    <div class="services__item-title">ordering components</div>
                    <div class="services__item-text">We collect exclusive models and make a convenient choice for you</div>
                    <a href="#" class="services__item-btn"><span>more</span></a>                  
                </div>
            </div>

            <div class="services__column">
                <div class="services__item">
                    <a href="#" class="services__item-img">
                        <img src="./img/mokup-img.png" alt="">
                    </a>                   
                    <div class="services__item-title">repair and restoration</div>
                    <div class="services__item-text">We collect exclusive models and make a convenient choice for you</div>
                    <a href="#" class="services__item-btn"><span>more</span></a>                  
                </div>
            </div>
        </div>

    </div>
</div>