.footer {
    
    .license { font-weight: 700; }

    &__row1, &__row2, .license {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__row1 {
        padding: 35px 0;
        border-top: 3px solid #E8E8E8;
        border-bottom: 3px solid #E8E8E8;
    }

    &__row2 { padding: 16px 0; }

    .logo {
        padding: 5px 0 30px;
        color: #282828;
     }

    .ellipse {
        margin-right: 10px;
        border: 5px solid #282828;
        span { background-color: #282828; }
    }

    &__description {
        max-width: 527px;
        p {
            font-size: 14px;
            font-weight: 300;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        text-align: right;
        .tel {
            padding: 15px 0;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
        }

        span {
            padding-top: 10px;
            font-size: 24px;
            letter-spacing: 2px;
        }
    }

    &__btn-up {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }

    .social img { margin-right: 27px; }

}