@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .pageHome, .pageWorks {
        .mainMenu {
            .link-1,
            .link-2,
            .link-3,
            .link-4,
            .link-5,
            .link-6 {
                animation: none;
            }
            .link-1 { top: 20%; left: 10%; }
            .link-3 { top: 20%; right: 10%; }
            .link-5 { left: 10%; bottom: 20%; }
            .link-6 { right: 10%; bottom: 20%; }
            li span { margin-top: -30px; opacity: 100%; }
        }
    }
}

@media (max-width: 768px) {
    .pageHome {
        padding: 10px;
        justify-content: inherit;
        text-align: center;

        .subtitle { padding: 0; }
    }
    
    

    .pageHome, .pageWorks {
        .mainMenu {
            .link-1 { top: 30%; left: 15%; }
            .link-2 { top: 58%; left: 15%; }
            .link-3 { top: 30%; right: 15%; }
            .link-4 { top: 58%; right: 15%; }
            .link-5 { bottom: 5%; left: 15%; }
            .link-6 { bottom: 5%; right: 15%; }
        }
    }
}

@media (max-width: 480px) {

    

}