* {
  box-sizing: border-box;
  outline: none;
  &:before, &:after {
    box-sizing: border-box;
    outline: none;
  }
}

html { scroll-behavior: smooth; }

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body, p, li, figure, figcaption, ul, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}