.services__content {
    display: flex;
    align-items: center;
    margin: 50px 0;
        
    &-text {
        width: 50%;
        margin-left: 40px;

        h4 {
            font-size: 25px;
            text-transform: uppercase;
        }

        p {
            margin: 15px 0 30px;
            line-height: 1.75;
        }
    }
}