.services__content {
    display: flex;
    margin: 50px 0;
        
    &-text {
        width: 50%;
        margin-left: 40px;

        h4 { font-size: 25px; text-transform: uppercase; }

        p { margin: 15px 0 40px; line-height: 1.75; }
    }
}