.stats {
    display: flex;
    justify-content: space-between;

    &__content p {
        padding: 30px 50px 20px 0;
        line-height: 1.75;
    }

    &__line {
        display: flex;
        .square {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 15px 30px;
            width: 200px;
            height: 200px;
            background-color: #f6f5f4;
            &-stats {
                margin-bottom: 15px;
                font-size: 40px;
                color: #7b60f5;
            }
            &-text { font-size: 18px; }
        }
    }
}