@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

$maxWidth: 1170;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@import "./utils/fonts.scss";
@import "./utils/normalize.scss";
@import "./utils/media.scss";
@import "./components/preloader.scss";
@import "./components/homePage.scss";
@import "./components/worksPage.scss";

html { scroll-behavior: smooth; }
	 
body {
	background-color: #333;
	font-family: "Alegreya", sans-serif;
	overflow-x: hidden;

	perspective: 1px;
	transform-style: preserve-3d;
}

section { padding: 20px 0; }

.title {
	font-weight: 700;
	text-shadow: 0 0 10px #fff;
	@include adaptiv-font(80, 40);
}

.subtitle {
	display: block;
	padding-top: 80px;
	color: #fff;
	text-shadow: 0 0 10px #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.container {
	max-width: 1170px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.section-title {
	text-align: center;
	
	h2 {
		text-transform: uppercase;
		@include adaptiv-font(31, 21);
	}

}

.slick-list { overflow: hidden; }
.slick-track { display: flex; height: 100vh; }
.slick-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50px;
	cursor: pointer;
	color: #fff;
	background: transparent;
}

/*
.btn {
	display: block;
	text-align: center;
	padding: 15px;
	margin: 35px 0 20px;
	color: #000;
	font-weight: 700;
	border-radius: 8px;
	border: 2px solid red;
	background-color: transparent;
	transition: all .8s;
	cursor: pointer;

	&:hover { background-color: red; }

}
*/