.apartments
    background: #f6f5f4
    padding: 60px 0
    .apart
        h2
            margin-left: 40px
            margin-bottom: 85px
            font-size: 40px
        .cards-slider
            display: flex
            .slick-list .slick-track
                .cards-item
                    margin: 5px
                    transition: all .2s linear
                    &:hover
                        background: #fafaf9
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
                    .cards-container
                        padding: 25px
                        &-info
                            display: flex
                            justify-content: space-between
                            .money
                                font-size: 18px
                                color: #7b60f5
                                font-weight: bold
                            .info
                                span:first-child
                                    margin-right: 18px
                                i
                                    margin-right: 8px
            .slick-arrow
                position: absolute
                top: 40%
                width: 2.5rem
                height: 4rem
                background: #fff
                border: none
                outline: none
                transition: all .3s linear
            .slick-prev
                left: -2.5rem
                &:hover, &:focus, &:active
                    box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5
                    border-radius: 50% 0 0 50%
            .slick-next
                right: -2.5rem
                &:hover, &:focus, &:active
                    box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5
                    border-radius: 0 50% 50% 0
            img
                width: 100%

        .button-search
            display: flex
            i
                position: absolute
                margin-top: 74px
                margin-left: 70px
                color: #919eb1
            form input[type=text]
                margin-top: 50px
                margin-left: 40px
                width: 300px
                height: 60px
                padding-left: 62px
                color: #919eb1
                border: none
                border-top-left-radius: 8px
                border-bottom-left-radius: 8px
            form input[type=submit]
                width: 115px
                height: 60px
                background: $accent
                border: none
                border-top-right-radius: 8px
                border-bottom-right-radius: 8px
                transition: all .3s linear
                &:hover, &:focus, &:active
                    box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5
            .all
                display: flex
                justify-content: center
                align-items: center
                width: 250px
                height: 60px
                margin-top: 50px
                margin-left: 40px
                border-radius: 8px
                background: #fff
                transition: all .3s linear
                &:hover, &:focus, &:active
                    box-shadow: 0 0 10px #7b60f5, 0 0 40px #7b60f5
