//@media (max-width: 1200px)
@media (max-width: 992px) {

    .circle { display: none; }

    .with_us {
        padding: 0 20px;
        border-radius: 5px;

        &__left, &__right {
            background-color: #f3f3f3;
            box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
        }
        &__left { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
        &__right { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

        .item {

            .description {
                visibility: visible;
                opacity: 100%;
                color: #000;
                padding: 0 15px;
                margin: auto;
            }

            img { display: none; }
        }
    }

}

@media (max-width: 768px) {
    
    .main__header {
        background-position: center;
    }

    .privilege__box {
        flex-wrap: wrap;
        &-item { margin: 0; }
    }

    .hot__offer-box {
        flex-direction: column;
        align-items: center;

        .box_item { margin-bottom: 20px; }
    }

    .with_us {
        flex-direction: column;
        align-items: center;

        &__left, &__right {
            width: 100%;
            box-shadow: none;
            border-radius: 0%;
        }
        span { font-size: 20px; }
    }


    .block_space1, .block_space2, .block_space3 { display: none; }
}

@media (max-width: 480px) {
    .header {

        .header_logo { width: 250px; margin-top: 60px; }

        .nav {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 10px 0;
            
            &__content {
                padding-top: 15px;
                max-height: 0;
                font-size: 0;
                overflow: hidden;
                transition: all .5s
            }
    
            &__items {
                flex-direction: column;
                background-color: #333;
            }
    
            .burger { display: block; }
        }
    }
    
    .main__header {
        padding-top: 130px;

        .header__content {

            .header_title { padding: 0 0 30px; }
    
            .social_block { margin: 20px auto; }
    
            .btn { margin: 0 auto; }
        }
    }

    
    
}

