<section class="pageHome" id="pageHome" style="background-image: url('./img/pageHome/pageHome-bg.jpg')">
    
    <h1 class="title">Wayfarers-team</h1>
    <sub class="subtitle">websites creation by dreamers</sub>

    <nav class="mainMenu">
        <ul class="mainMenu__container">
    
            <li class="link-1">
                <a href="/" class="mainMenu__link transition active">
                    <span>Home</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-2">
                <a href="./page-works.html" class="mainMenu__link transition">
                    <span>Works</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
            
            <li class="link-3">
                <a href="#works" class="mainMenu__link transition">
                    <span>Skills</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-4">
                <a href="#about" class="mainMenu__link transition">
                    <span>About</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-5">
                <a href="#works" class="mainMenu__link transition">
                    <span>Works</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-6">
                <a href="#contacts" class="mainMenu__link transition">
                    <span>Contacts</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
            
        </ul>
    </nav>

</section>