@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "./utils/fonts.scss";
@import "./utils/normalize.scss";
@import "./utils/media.scss";
@import "./components/header.scss";
@import "./components/header-body.scss";
@import "./components/products.scss";
@import "./components/categories";
@import "./components/services";
@import "./components/quotes";
@import "./components/footer";


$fontfamaly: "PTSans", sans-serif;
$fontsize: 14px;
$fontcolor: #000;
$maxWidth: 970px;
$bgcolor: #eff1f5;

	 
body {
	font-family: $fontfamaly;
	font-size: $fontsize;
	color: $fontcolor;
	background-color: $bgcolor;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
._container {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	text-align: center;
	&__item {
		margin-bottom: 23px;
		color: #FFB229;
        font: 400  40px 'ceremonious';
	}

	&__main {
		letter-spacing: 5.25px;
		text-transform: uppercase;
		font: 500  40px 'PFDin';
		&-white { color: #fff; }
	}
}

.box__decor {
	display: flex;
	align-items: center;
	padding-top: 20px;

	&-item {
		display: flex;
		align-items: center;
		flex: 1 1 auto ;

		&:before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #000;
		}
		&:after {
			content: '';
			flex: 0 0 25px * 0.73;
			width: 25px;
			height: 25px * 0.73;
			border: 1px solid #000;
			transform: rotate(45deg);
		}

		span {
			display: flex;
			align-items: center;
			margin: 0 5px;

			&:before {
				content: '';
				width: 10px;
				height: 10px;
				margin: 0 5px;
				border-radius: 50%;
				border: 1px solid #000;
			}
			&:after {
				content: '';
				flex: 0 0 15px * 0.73;
				width: 15px;
				height: 15px * 0.73;
				border: 1px solid #000;
				transform: rotate(45deg);
			}
		}

		&:last-child {
			flex-direction: row-reverse;
			span { flex-direction: row-reverse; }
		}
	}

	&-icon {
		flex: 0 0 150px ;
		text-align: center;
	}
}

.btn {
	position: relative;
	padding: 10px 50px;
	color: #000;
	font: 500  18px 'PFDin';
	border-radius: 20px;
	text-transform: uppercase;
	background-color: #ffb229;
	border: 3px solid #ffb229;
    transition: all .5s ease;

	&:hover {
		color: #ffb229;
		background-color: transparent;
	}

	span {
		letter-spacing: 1px;
		&:after, &:before {
			content: ': :';
			position: absolute;
			top: 7px;
			color: #000;
		}
		&:after { right: 20px; }
		&:before { left: 20px; }
	}
}
/************ Slik slider **************/S
.slick-list { overflow: hidden; }
.slick-track { display: flex; }


/*

.slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;

	.slick-active { background: #E44256; }

	li {
		display: inline-block;
		width: 7px;
		height: 7px;
		margin: 0 5px;
		background: #CCCCCC;
		border-radius: 50%;

		button { display: none; }
	}
}
*/