<section class="add">

    <div class="add__box">
        <div class="add__box-img">
            <img src="./img/addRoom.jpg" alt="Room">
            <div class="location"><i class="fas fa-map-marker-alt"></i>Melbourn</div>
        </div>

        <div class="add__box-text">
            <h3>Super Awesome Add</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusamus, numquam porro facilis maxime ducimus dignissimos ratione optio, inventore cum exercitationem tempora pariatur nobis dicta alias dolores dolore eveniet beatae esse! Tempora iste sed nemo.</p>
        </div>
    </div>

    <div class="add__box">
        <div class="add__box-img">
            <img src="./img/addRoom.jpg" alt="Room">
            <div class="location"><i class="fas fa-map-marker-alt"></i>Australia</div>
        </div>

        <div class="add__box-text">
            <h3>Super Awesome Add</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusamus, numquam porro facilis maxime ducimus dignissimos ratione optio, inventore cum exercitationem tempora pariatur nobis dicta alias dolores dolore eveniet beatae esse! Tempora iste sed nemo.</p>
        </div>
    </div>

    <div class="add__box">
        <div class="add__box-img">
            <img src="./img/addRoom.jpg" alt="Room">
        </div>

        <div class="add__box-text">
            <h3>Super Awesome Add</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusamus, numquam porro facilis maxime ducimus dignissimos ratione optio, inventore cum exercitationem tempora pariatur nobis dicta alias dolores dolore eveniet beatae esse! Tempora iste sed nemo.</p>
       
            <a href="#" class="show-more">Show me more</a>
        </div>

    </div>

</section>