<section class="agents" id="agents">
    <h2 class="section-title">Meet Our Agents</h2>

    <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing.</span>
    <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fuga porro architecto sed maiores!</span>

    <div class="agents__box">

        <div class="agent__item">
            <img src="../img/agents/agent1.jpg" alt="agent">

            <div class="agent__item-info">
                <span>Agent</span>

                <div class="agent__item-descr">
                    <span class="name">Mr. Smit</span>
                    <div class="social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="agent__item">
            <img src="../img/agents/agent2.jpg" alt="agent">

            <div class="agent__item-info">
                <span>Agent</span>

                <div class="agent__item-descr">
                    <span class="name">Ms. Smit</span>
                    <div class="social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="agent__item">
            <img src="../img/agents/agent3.jpg" alt="agent">

            <div class="agent__item-info">
                <span>Agent</span>

                <div class="agent__item-descr">
                    <span class="name">Mr. Smit</span>
                    <div class="social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
