<section class="apartments" id="apartments">

    <h2 class="section-title">More than 500+ Appartments For Rent</h2>

    <div class="apartments__slider">

        <div class="card__box">

            <img src="./img/apartments/apart.jpg" alt="Appartments For Rent">

            <div class="card__box-item">

                <p>Lorem ipsum dolor sit amet consectetur.</p>

                <div class="card__box-info">
                    <span class="money">$3,500</span>

                    <div class="info">
                        <span><i class="fas fa-shower"></i>2BA</span>
                        <span><i class="fas fa-bed"></i>2BD</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__box">

            <img src="./img/apartments/apart.jpg" alt="Appartments For Rent">

            <div class="card__box-item">

                <p>Lorem ipsum dolor sit amet consectetur.</p>

                <div class="card__box-info">
                    <span class="money">$3,500</span>

                    <div class="info">
                        <span><i class="fas fa-shower"></i>2BA</span>
                        <span><i class="fas fa-bed"></i>2BD</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__box">

            <img src="./img/apartments/apart.jpg" alt="Appartments For Rent">

            <div class="card__box-item">

                <p>Lorem ipsum dolor sit amet consectetur.</p>

                <div class="card__box-info">
                    <span class="money">$3,500</span>

                    <div class="info">
                        <span><i class="fas fa-shower"></i>2BA</span>
                        <span><i class="fas fa-bed"></i>2BD</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__box">

            <img src="./img/apartments/apart.jpg" alt="Appartments For Rent">

            <div class="card__box-item">

                <p>Lorem ipsum dolor sit amet consectetur.</p>

                <div class="card__box-info">
                    <span class="money">$3,500</span>

                    <div class="info">
                        <span><i class="fas fa-shower"></i>2BA</span>
                        <span><i class="fas fa-bed"></i>2BD</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__box">

            <img src="./img/apartments/apart.jpg" alt="Appartments For Rent">

            <div class="card__box-item">

                <p>Lorem ipsum dolor sit amet consectetur.</p>

                <div class="card__box-info">
                    <span class="money">$3,500</span>

                    <div class="info">
                        <span><i class="fas fa-shower"></i>2BA</span>
                        <span><i class="fas fa-bed"></i>2BD</span>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="button-search">
        <form action="">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search Locations">
            <input type="submit" value="Search">
        </form>

        <a href="#" class="all">View All Apartments</a>
    </div>

</section>