<footer class="footer" id="footer">

    <div class="footer__top">

        <a href="/" class="footer__logo">Real Estate Club</a>

        <div class="footer__search">
            <input type="text" placeholder="Subscribe To Our Newsletter">
            <button class="footer__search-btn">
                <span>&#8680</span>
            </button>
        </div>

    </div>

    <div class="footer__links">

        <div class="footer__links-item">
            <span>Agency</span>
            <a href="#">Agents</a>
            <a href="#">Hunters</a>
        </div>

        <div class="footer__links-item">
            <span>Agency</span>
            <a href="#">Agents</a>
            <a href="#">Hunters</a>
            <a href="#">Agents</a>
            <a href="#">Hunters</a>
        </div>

        <div class="footer__links-item">
            <span>Agency</span>
            <a href="#">Agents</a>
            <a href="#">Hunters</a>
        </div>

        <div class="footer__links-item">
            <span>Agency</span>
            <a href="#">Agents</a>
            <a href="#">Hunters</a>
            <a href="#">Agents</a>
        </div>
    </div>

    <a class="btn-up" href="#header">&#8673</a>

</footer>