<section class="header__body">

    <h1 class="header__body-title">Find Your New Modern Apartment</h1>

    <div class="header__body-bg">

        <img src="./img/room-bg.jpg" alt="">

        <div class="header__body-contacts">
            <span>
                <i class="fas fa-phone-alt"></i>
                +380734684589
            </span>
            <span>
                <i class="fas fa-map-marker-alt"></i>
                Melbourn, Australia
            </span>
        </div>
    </div>

</section>