<header class="header" id="header">

    <a href="/" class="header__logo">Real Estate Club</a>

    <div class="header__actions">
        <a href="#" class="header__join">Join Us</a>
        <a href="#" class="header__started">Getting Started</a>
    </div>

    <nav class="menu">
        <input id="checkbox" type="checkbox">

        <label for="checkbox">
            <div class="burger">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
                <span class="line line4"></span>
            </div>
        </label>

        <div class="menu__box">
            <ul class="menu__content">

                <li class="menu-item">
                    <a href="/" class="nav__item-text">About</a>
                </li>

                <li class="menu-item">
                    <a href="#apartments" class="nav__item-text">Apartment</a>
                </li>

                <li class="menu-item">
                    <a href="#steps" class="nav__item-text">How it Work</a>
                </li>

                <li class="menu-item">
                    <a href="#agents" class="nav__item-text">Agents</a>
                </li>

                <li class="menu-item">
                    <a href="#footer" class="nav__item-text">Contact Us</a>
                </li>

            </ul>
        </div>

    </nav>

</header>