<section class="services">

    <h2 class="section-title">Services</h2>
    <spanc class="subtitle">Lorem ipsum dolor sit amet consectetur.</spanc>
    <spanc class="subtitle">Lorem ipsum dolor sit amet.</spanc>

    <div class="services__content">

        <div class="services__content-img">
            <img src="./img/servisRoom.jpg" alt="servis-room">
        </div>

        <div class="services__content-text">
            <h4>Renting</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates quasi odit! Sed officiis praesentium architecto! Iste nisi distinctio sed dicta vero quaerat?</p>
            
            <h4>Sale</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates quasi odit! Sed officiis praesentium architecto! Iste nisi distinctio sed dicta vero quaerat?</p>
            
            <h4>Commerce</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates quasi odit! Sed officiis praesentium architecto! Iste nisi distinctio sed dicta vero quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates quasi odit! Sed officiis praesentium architecto! Iste nisi distinctio sed dicta vero quaerat?</p>
        </div>

    </div>

</section>
