<section class="stats">

    <div class="stats__content">
        <h2 class="section-title">Our's Company Statistic</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eaque deserunt incidunt, alias nulla consectetur quos qui harum necessitatibus omnis, recusandae labore obcaecati possimus suscipit quaerat, culpa aspernatur totam eligendi doloremque sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eaque deserunt incidunt, alias nulla consectetur quos qui harum necessitatibus omnis, recusandae labore obcaecati possimus suscipit quaerat, culpa aspernatur totam eligendi doloremque sit.</p>
    </div>

    <div class="stats__progress">

        <div class="stats__line">
            <div class="square">
                <span class="square-stats"><strong>7231</strong></span>
                <span class="square-text"><strong>Rent apartments</strong></span>
            </div>

            <div class="square">
                <span class="square-stats"><strong>5841</strong></span>
                <span class="square-text"><strong>Sale of apartments</strong></span>
            </div>
        </div>

        <div class="stats__line">
            <div class="square">
                <span class="square-stats"><strong>4595</strong></span>
                <span class="square-text"><strong>Commercial property</strong></span>
            </div>

            <div class="square">
                <span class="square-stats"><strong>3912</strong></span>
                <span class="square-text"><strong>Sale of houses</strong></span>
            </div>
        </div>

    </div>

</section>