<section class="steps" id="steps">

    <h2 class="section-title">How It Works</h2>

    <span class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>

    <span class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, quia pariatur. Libero, accusamus fugit?</span>

    <div class="steps__box">

        <div class="steps__item">

            <span class="steps__num">01</span>

            <h3><span>01</span>Find Your Location</h3>

            <p class="steps__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit obcaecati magni dolor possimus.</p>
        
            <a href="#" class="link">Find Location</a>
        </div>

        <div class="steps__item">

            <span class="steps__num">02</span>

            <h3><span>02</span>Find Your Location</h3>

            <p class="steps__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit obcaecati magni dolor possimus.</p>
        
            <a href="#" class="link">Find Location</a>
        </div>

        <div class="steps__item">

            <span class="steps__num">03</span>

            <h3><span>03</span>Find Your Location</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit obcaecati magni dolor possimus.</p>
        
            <a href="#" class="link">Find Location</a>
        </div>

    </div>

</section>