<section class="pageWorks" id="pageWorks" style="background-image: url('./img/pageWorks/pageWorks-bg.jpg');">
    
    <h1 class="title">My WORKS</h1>

    <nav class="mainMenu">
        <ul class="mainMenu__container">
    
            <li class="link-1">
                <a href="/" class="mainMenu__link transition">
                    <span>Home</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-2">
                <a href="./page-works.html" class="mainMenu__link transition active">
                    <span>Works</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
            
            <li class="link-3">
                <a href="#works" class="mainMenu__link transition">
                    <span>Skills</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-4">
                <a href="#about" class="mainMenu__link transition">
                    <span>About</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-5">
                <a href="#works" class="mainMenu__link transition active">
                    <span>Works</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
    
            <li class="link-6">
                <a href="#contacts" class="mainMenu__link transition">
                    <span>Contacts</span>
                    <img class="img-svg" src="./img/pageHome/power-button.svg" alt="icon">
                </a>
            </li>
            
        </ul>
    </nav>

    <div class="pageWorks__cube">
        <div class="pageWorks__cube-box">

            <div class="side front">
                <img src="./img/pageWorks/cube-side/work-1.png" alt="my-work">
            </div>

            <div class="side back">
                <img src="./img/pageWorks/cube-side/work-2.png" alt="my-work">
            </div>

            <div class="side right">
                <img src="./img/pageWorks/cube-side/work-3.png" alt="my-work">
            </div>

            <div class="side left">
                <img src="./img/pageWorks/cube-side/work-4.png" alt="my-work">
            </div>

            <div class="side top">
                <img src="./img/pageWorks/cube-side/work-5.png" alt="my-work">
            </div>

            <div class="side bottom">
                <img src="./img/pageWorks/cube-side/work-6.png" alt="my-work">
            </div>

        </div>
    </div>

    <div class="pageWorks__show">

        <div class="pageWorks__show-box">

            <div class="project"></div>

            <div class="description"></div>

            <button class="btn">&#8689;</button>
            
        </div>
       

        <!--<div class="pageWorks__show-slider">

            <div class="slider-item work-1" style="background-image: url('./img/pageWorks/cube-side/work-1.png');">
                <a href="#">Dream Masters</a>
            </div>

            <div class="slider-item work-1" style="background-image: url('./img/pageWorks/cube-side/work-2.png');">
                <a href="#">Wayfarers Walk</a>
            </div>

            <div class="slider-item work-1" style="background-image: url('./img/pageWorks/cube-side/work-3.png');">
                <a href="#">Butysaloon</a>
            </div>

        </div>-->
    </div>

</section>