.about {
    text-align: center;
    background: #0f0f0f;

    .section_title { color: #fff; }
}

.with_us {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 40px auto;
    color: #fff;
    &__left, &__right { width: 50%; }

    .circle {
        position: absolute;
        width: 300px;
        height: 300px;
        margin: auto;
        border-radius: 50%;
        background: #F3F3F3;
        box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;

    }

    .item {
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .description {
            visibility: hidden;
            opacity: 0;
            transition: all 1s;

            span {
                color: #4fcc3f;
                font-weight: bold;
                white-space: nowrap;
        		@include adaptiv-font (22, 18);
            }
        }

        img {
            width: 50px;
            height: 50px;
            margin: 0 40px;
            cursor: pointer;
            z-index: 1;
        }

        &:hover .desc-1 { visibility: visible; opacity: 1; }

        &:hover .desc-2 { visibility: visible; opacity: 1; }

        &:hover .desc-3 { visibility: visible; opacity: 1; }

        &:hover .desc-4 { visibility: visible; opacity: 1; }

        &:hover .desc-5 { visibility: visible; opacity: 1; }

        &:hover .desc-6 { visibility: visible; opacity: 1; }

        .icon-2 { margin-right: 80px; }
        .icon-5 { margin-left: 80px; }
    }

    /*
    .left-1 { padding-top: 20px; }
    .left-2 { padding: 10px 50px 0 0; }
    .left-3 { padding-top: 40px; }
    .right-1 { padding: 20px 0 0 10px; }
    .right-2 { padding: 0 0 0 50px; }
    .right-3 { padding: 40px 0 0 10px; }
    */
}

.reviews {
    .section_title { margin-bottom: 20px; }

    .slider__box {
        position: relative;
        &-item {
            width: 700px;
            margin: 0 auto;
            color: #fff;

            .img_item {
                width: 100px;
                height: 100px;
                margin: 20px 0;
                border-radius: 50%;
                border: 1px solid #4fcc3f;
            }
        
            .title_item {
                color: #4fcc3f;
        		@include adaptiv-font (18, 14);
            }
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            li {
                width: 14px;
                height: 14px;
                margin: 10px;
                border: 1px solid #4fcc3f;
                border-radius: 50%;
            }
            button { display: none; }
            .slick-active { background: #4fcc3f; }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 60px;
            margin-top: -60px;
            font-size: 0;
            cursor: pointer;
            z-index: 1;
        }
        .slick-prev {
            left: 10%;
            background: url(../img/about/slider-prev.svg) no-repeat;
        }
        .slick-next {
            background: url(../img/about/slider-next.svg) no-repeat;
            right: 10%;
        }

    }   
}

.block_space2 {
    width: 100%;
    border-top: 61px solid #0f0f0f;
    border-right: 96vw solid transparent;
}