.header {
    position: relative;
    display: flex;
    justify-content: center;
  
    .overley {
        background: #000000;
        
        .header_bg {
            width: 100%;
            height: 100vh;
            min-height: 700px;
            opacity: 0.5;
        }
    }
}

.container {
    position: absolute;
    top: 0;
    text-align: center;

    .header_logo {
        margin-top: 30px;
        text-align: center;
    }

    .main_menu ul {
        display: flex;
        justify-content: center;

        a {
            margin: 15px;
            padding: 10px;
            color: #fff;

            &:hover {
                transition: all 0.5s;
                box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
            }
        }
    }

    .header_title {
        margin-top: 50px;
        padding: 50px 0;
        font-style: italic;
        font-size: 38px;
        color: #fff;
    }

    .header_subtitle {
        display: inline-block;
        width: 700px;
        font-size: 22px;
        color: #fff;
    }

    .header_social_block {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin: 15px;
            border: 1px solid #4FCC3F;
            border-radius: 50%;

            &:hover {
                box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
                transition: all 0.5s;
                background: #000;
            }

            img { height: 25px; }
        }
    }

    .header_btn {
        display: block;
        padding: 15px 50px 15px 50px;
        border: 1px solid #4FCC3F;
        border-radius: 4px;
        margin: 50px auto;
        text-transform: uppercase;
        line-height: 1.5;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        background: transparent;
        box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
        
        &:hover {
        background-color: #000000;
        color: #4fcc3f;
        box-shadow: none;
        transition: all 0.5s;
        }
    }
}