.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;

    .header_logo { margin-top: 30px; }
}

.nav {
    &__content {
        max-width: 350px;
        min-width: 320px;
        margin: 0 auto;
	    transition: all .5s;
    }
    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        border: 2px solid #4fcc3f;
    }

    &__item {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    &__item-text {
        width: 100%;
        color: #fff;
        transition: all .5s;
        &:hover {
            color: #4fcc3f;
            box-shadow: 0 0 10px #4fcc3f,0 0 20px #4fcc3f;
        }
    }

    .burger {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 0 auto;

        .line {
            position: absolute;
            display: block;
            width: 30px;
            height: 4px;
			border-radius: 4px;
            background-color: #fff;
            transition: all .4s;
        }
        .line2, .line3 { top: 13px; }
        .line4 { bottom: 0; }
    }

    #checkbox, .burger { display: none; }

    #checkbox:checked + label > .burger > .line1 {
		transform: rotate(45deg);
		transform-origin: 5%;
		width: 41px;
    }
	#checkbox:checked + label > .burger > .line2 {
		transform: translateX(-40px);
		background-color: transparent;
    }
	#checkbox:checked + label > .burger > .line3{
		transform: translateX(40px);
		background-color: transparent;
    }
	#checkbox:checked + label > .burger > .line4 { 
		transform-origin: 5%;
		transform: rotate(-45deg);
		width: 41px;
    }
	#checkbox:checked ~ .nav__content {
        max-height: 300px;
        font-size: 16px;
    }
}
