@media (max-width: 1200px) {
    header, main, section, footer {
        padding: 0 calc(50% - 440px);
    }

}

@media (max-width: 992px) {
    header, main, section, footer {
        padding: 0 calc(50% - 380px);
    }
}

@media (max-width: 768px) {
    header, main, section, footer {
        padding: 0 calc(50% - 230px);
    }

    .header__menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #8974e6;
        z-index: 10;

        &-box {
            max-height: 0;
            font-size: 0;
            overflow: hidden;
            transition: all .5s
        }

        &__content {
            flex-direction: column;
            height: auto;
            padding: 10px 20px;
        }

        a {
            width: 100%;
            text-align: center;
            &:hover {
                border: 2px solid #fff;
            }
        }

        li { width: 100%; }
        label { display: block; padding: 5px; }
        .burger { display: block; }
    }
}