<section class="carrers" id="carrers">

    <h2 class="carrers__title">Conquering web from 2009 and these are our stats ... so far ;)</h2>

    <div class="carrers__box">
        <div class="carrers__box-item">
            <span>186</span>
            <div class="numbers">satisfied clients</div>
        </div>

        <div class="carrers__box-item">
            <span>657</span>
            <div class="numbers">completed projects</div>
        </div>
       
        <div class="carrers__box-item">
            <span>1,340</span>
            <div class="numbers">coffees drinked</div>
        </div>

        <div class="carrers__box-item">
            <span>652</span>
            <div class="numbers">hours played  battlefield 3</div>
        </div>
    </div>

</section>