<footer class="footer" id="footer">

    <div class="footer__row1">
        <div class="footer__description">
            <a href="/" class="logo"><div class="ellipse"><span></span></div>planeto</a>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequuntur porro quam fugiat ut ea magni cum ipsam modi. Illum, error? Aut reiciendis ab facere repellendus quae dolor maiores? Expedita, veritatis dolorem.</p>
        </div>
    
        <div class="footer__contacts">
            <a href="#" class="tel">quick contacts</a>
            <span>421.909.123.456 </span>
            <span class="mail">hello@planeto.com</span>
        </div>
    </div>
    
    <div class="footer__row2">

        <div class="social">
            <img src="./img/facebook.svg" alt="icon">
            <img src="./img/twitter.svg" alt="icon">
            <img src="./img/skype.svg" alt="icon">
        </div>

        <div class="license"><div class="ellipse"><span></span></div>© 2013</div>

        <a href="#header" class="footer__btn-up">To the top</a>
    </div>

</footer>