<header class="header">

    <div class="header__top">

        <a href="/" class="logo"><div class="ellipse"><span></span></div>planeto</a>

        <nav class="header__menu">
            <input id="checkbox" type="checkbox">

            <label for="checkbox">
                <div class="burger">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                    <span class="line line4"></span>
                </div>
            </label>

            <div class="header__menu-box">
                <ul class="header__menu-content">

                    <li class="header__menu-item">
                        <a href="#">About us</a>
                    </li>

                    <div class="ellipse"><span></span></div>

                    <li class="header__menu-item">
                        <a href="#">Services</a>
                    </li>

                    <div class="ellipse"><span></span></div>

                    <li class="header__menu-item">
                        <a href="#">projects</a>
                    </li>

                    <div class="ellipse"><span></span></div>

                    <li class="header__menu-item">
                        <a href="#">carrers</a>
                    </li>

                    <div class="ellipse"><span></span></div>

                    <li class="header__menu-item">
                        <a href="#">Contact</a>
                    </li>

                </ul>
            </div>

        </nav>

    </div>

</header>