<section class="header__content">

    <img class="header__content-bg" src="./img/header-bg.png" alt="header-bg">

    <h1 class="header__content-title">Top-notch web services in one place</h1>

    <div class="header__content-icons">

        <img class="icon-1" src="./img/globe-wire.svg" alt="icon">
        <img class="icon-2" src="./img/connect-point.svg" alt="icon">
        <img class="icon-3" src="./img/lamp.svg" alt="icon">
        <img class="icon-4" src="./img/text-horizontal.svg" alt="icon">
        <img class="icon-5" src="./img/layers.svg" alt="icon">
        <img class="icon-6" src="./img/cloud.svg" alt="icon">

    </div>

</section>