<section class="partners">

    <h2 class="partners__title">Our wonderful partners</h2>

    <div class="partners__slider">

        <div class="partners__slider-item">
            <img src="./img/airplanes.png" alt="">
            <img src="./img/kingFood.png" alt="">
        </div>

        <div class="partners__slider-item">
            <img src="./img/starCaffee.png" alt="">
            <img src="./img/nukeStudios.png" alt="">
        </div>

        <div class="partners__slider-item">
            <img src="./img/yourHealth.png" alt="">
            <img src="./img/starCaffee.png" alt="">
        </div>

        <div class="partners__slider-item">
            <img src="./img/nukeStudios.png" alt="">
            <img src="./img/kingFood.png" alt="">
        </div>

    </div>
</section>