<section class="projects" id="projects">

    <div class="projects__row">
        <h2 class="title">Our awesome projects</h2>

        <nav class="nav">
            <ul>
                <li><a href="#">all</a></li>
                <li><a href="#">web</a></li>
                <li><a href="#">app</a></li>
                <li><a href="#">logo</a></li>
                <li><a href="#">code</a></li>
            </ul>
        </nav>
    </div>

    <div class="projects__gallery">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

    <div class="projects__btn">
        <a href="#" >vew portfolio</a>
    </div>

</section>