<section class="services" id="services">

    <div class="services__box">

        <div class="services__box-img img-1">
            <img src="./img/groupLamp.png" alt="img">
        </div>

        <div class="services__box-content">
            <h2 class="services__box-title">We have ideas for everyone</h2>

            <p class="services__box-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi sunt aspernatur mollitia iste, delectus harum illo incidunt deserunt maiores quasi in natus atque aliquid recusandae veniam ut magni aut ipsa tempora.
            </p>

            <a class="services__box-btn">Learn more</a>
        </div>

    </div>

    <div class="services__box box-2">

        <div class="services__box-img img-2">
            <img src="./img/groupLamp.png" alt="img">
        </div>

        <div class="services__box-content">
            <h2 class="services__box-title">We are on fire</h2>

            <p class="services__box-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sequi sunt aspernatur mollitia iste, delectus harum illo incidunt deserunt maiores quasi in natus atque aliquid recusandae veniam ut magni aut ipsa tempora.
            </p>

            <a class="services__box-btn">Learn more</a>
        </div>
        
    </div>

</section>