.surf
    padding: 160px 0 210px
    background-image: url(../img/surf/surf-bg.svg)
    background-position: right 300px
    background-repeat: no-repeat
    background-size: auto
    &__subtitle
        margin-top: -86px
        padding-right: 80px
        text-align: right
    &-slider
        padding-top: 110px
        .slider-arrows
            top: 50px
            opacity: .25
        .surf-box
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            min-height: 750px
            &__inner
                position: relative
                min-height: 750px
                background: rgba(#1C2121, .85)
