.main__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    background-image: url('../img/header/header_bg.jpg');
}

.header__content {
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;

    .header_title {
        padding: 50px 0;
        font-style: italic;
        color: #fff;
		@include adaptiv-font (38, 28);
    }

    .header_subtitle {
        color: #fff;
		@include adaptiv-font (22, 18);
    }

}

.social_block {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 15px;
        border: 1px solid #4FCC3F;
        border-radius: 50%;
        transition: all .5s;

        &:hover {
            box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
            transition: all 0.5s;
            background: #000;
        }

        img {
            height: 25px;
        }
    }
}