//@media (max-width: 1200px)
@media (max-width: 992px) {

    .circle { display: none; }

    .with_us {
        padding: 0 20px;
        border-radius: 5px;

        &__left, &__right {
            background-color: #f3f3f3;
            box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;
        }
        &__left { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
        &__right { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

        .item {

            .description {
                visibility: visible;
                opacity: 100%;
                color: #000;
                padding: 0 15px;
                margin: auto;
            }

            img { display: none; }
        }
    }

    .hot__offer .btn { font-size: 12px; }

    .info__box {
        .info__box-aside { min-width: 300px; }

        .aside__box {
            flex-direction: column;
            &-item { width: calc(100% - 60px); }
        }
    }

}

@media (max-width: 768px) {
    
    .main__header {
        background-position: center;
    }

    .privilege__box {
        flex-wrap: wrap;
        &-item { margin: 0; }
    }

    .hot__offer-box {
        flex-direction: column;
        align-items: center;
    }

    .with_us {
        flex-direction: column;
        align-items: center;

        &__left, &__right {
            width: 100%;
            box-shadow: none;
            border-radius: 0%;
        }
        span { font-size: 20px; }
    }

    .reviews .slider__box {
        text-overflow: ellipsis;

        .slick-arrow { bottom: 35%; }

        .text_item {
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }

    .info__box {
        flex-direction: column;
        .aside__box { flex-direction: inherit; }
        .aside__box-item { width: calc((100% - 60px)/2); } 
    }

    .slider__agents .slick-prev { left: 15%; }

    .slider__agents .slick-next { right: 15%; }
    
    .slider__agents-item { margin: 20px auto; }

    .contacts .item__box { flex-flow: wrap; }

    .contacts .questions__form { margin: 0 20px; }


    .block_space1, .block_space2, .block_space3 { display: none; }
}

@media (max-width: 480px) {
    .header {

        .header_logo { width: 250px; margin-top: 60px; }

        .nav {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 10px 0;
            
            &__content {
                padding-top: 15px;
                max-height: 0;
                font-size: 0;
                overflow: hidden;
                transition: all .5s
            }
    
            &__items {
                flex-direction: column;
                background-color: #333;
            }
    
            .burger { display: block; }
        }
    }
    
    .main__header {
        padding-top: 130px;

        .header__content {

            .header_title { padding: 0 0 30px; }
    
            .social_block { margin: 20px auto; }
    
            .btn { margin: 0 auto; }
        }
    }

    .reviews .slider__box {
        .slick-prev { left: 10%; }
        .slick-next { right: 10%; }
    }

    .info__box {
        .aside__box { flex-direction: column; }
        .aside__box-item { width: calc(100% - 60px); } 
    }
    
    .slider__agents-item { padding: 0 20px; }

    .contacts .questions__form {
        input {
            width: 100%;
            margin: 10px auto;
        }

        .btn { padding: 15px 20px; font-size: 14px; }
    }

    .footer { flex-direction: column-reverse; }
}

