<section class="contacts" id="contacts" style="background-image: url('./img/under-construction.jpg')">
    <div class="container">

        <div class="section-title">
            <h2>Контакты</h2>
        </div>

        <div class="contacts__box">

            <div class="contacts__text">
                <span>Адрес офиса: <br> Киев, ул. Златоустовская 25</span>
        
                <ul>
                    <li><a href="tel:+380734684589">+38(073) 468 45 89</a></li>
                    <li><a href="tel:+380958961949">+38(095) 896 19 49</a></li>
                    <li><a href="tel:+380637927049">+38(063) 792 70 49</a></li>
                </ul>
                
            </div>

            <div class="contacts__map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.500950581156!2d30.484991515580358!3d50.45039559525015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce8993653dfd%3A0xb53de90473befd36!2z0LLRg9C70LjRhtGPINCX0L7Qu9C-0YLQvtGD0YHRgtGW0LLRgdGM0LrQsCwgMjUsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1569240198821!5m2!1sru!2sua"
                    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="">
                </iframe>
            </div>

        </div>

    </div>
</section>