<section class="features" id="features">
    <div class="container">

        <div class="section-title">
            <h2>Преимущества работы с нами</h2>
        </div>

        <div class="features__box">
            <div class="features__box-item">
                <img src="./img/price.svg" alt="icon">
                <h3 class="title">Платите по факту</h3>
                <p class="sutitle">Вы оплачиваете выполненные работы только после их выполнения. Никаких скрытых доплат и промежуточных платежей.</p>
            </div>
    
            <div class="features__box-item">
                <img src="./img/contract.svg" alt="icon">
                <h3 class="title">Заключаем договор</h3>
                <p class="sutitle">Перед началом работ заключаем договор на юредическае лицо. Вы можете быть уверены, что все обязательства будут выполнены.</p>
            </div>
    
            <div class="features__box-item">
                <img src="./img/clock.svg" alt="icon">
                <h3 class="title">Точно в срок</h3>
                <p class="sutitle">Работаем строго по установленным срокам, которые прописаны в договоре. Если не успеваем, Вы платите меньше...</p>
            </div>
    
            <div class="features__box-item">
                <img src="./img/save-money.svg" alt="icon">
                <h3 class="title">Экономте с нами</h3>
                <p class="sutitle">Мы являемся структурным подразделением компании поставщика строительных материалов и даём Вам самые выгодные цены.</p>
            </div>
        </div>

    </div>
</section>