<section class="feedback" id="feedback">
    <div class="container">

        <div class="section-title">
            <h2>Отзывы</h2>
        </div>
        
        <div class="feedback__box">

            <div class="feedback__box-item">
                <div class="feedback__box-left">
                    <img src="./img/architect.jpg" alt="icon">

                    <ul class="decription">
                        <li>Объект: <strong>г.Киев, проспект Героев Сталинграда 8</strong></li>
                        <li>Площадь: <strong>357м2</strong></li>
                        <li>Выполнен: <strong>за 10 дней</strong></li>
                        <li>Стоимость: <strong>??? за квадратный метр</strong></li>
                        <li>Особенности: <strong>перепады, неровности стен до 6 см</strong></li>
                    </ul>
                </div>

                <div class="feedback__box-right">
                    <img src="./img/avatar.png" alt="icon">

                    <div class="name">Заказчик: <strong>Нахимов Артём</strong></div>

                    <div class="text"><p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Подпоясал себя возвращайся, коварных грамматики запятых рукопись власти диких большого lorem если ее сбить ему инициал там путь свой составитель проектах? Власти имеет своего даль коварный заманивший переулка языком, не вскоре раз реторический путь курсивных это напоивший своих оксмокс единственное.</p></div>
                </div>
            </div>

            <div class="feedback__box-item">
                <div class="feedback__box-left">
                    <img src="./img/condominium.jpg" alt="icon">

                    <ul class="decription">
                        <li>Объект: <strong>г.Киев, проспект Героев Сталинграда 8</strong></li>
                        <li>Площадь: <strong>357м2</strong></li>
                        <li>Выполнен: <strong>за 10 дней</strong></li>
                        <li>Стоимость: <strong>??? за квадратный метр</strong></li>
                        <li>Особенности: <strong>перепады, неровности стен до 6 см</strong></li>
                    </ul>
                </div>

                <div class="feedback__box-right">
                    <img src="./img/avatar.png" alt="icon">

                    <div class="name">Заказчик: <strong>Нахимов Артём</strong></div>

                    <div class="text"><p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Подпоясал себя возвращайся, коварных грамматики запятых рукопись власти диких большого lorem если ее сбить ему инициал там путь свой составитель проектах? Власти имеет своего даль коварный заманивший переулка языком, не вскоре раз реторический путь курсивных это напоивший своих оксмокс единственное.</p></div>
                </div>
            </div>

            <div class="feedback__box-item">
                <div class="feedback__box-left">
                    <img src="./img/retro.jpg" alt="icon">

                    <ul class="decription">
                        <li>Объект: <strong>г.Киев, проспект Героев Сталинграда 8</strong></li>
                        <li>Площадь: <strong>357м2</strong></li>
                        <li>Выполнен: <strong>за 10 дней</strong></li>
                        <li>Стоимость: <strong>??? за квадратный метр</strong></li>
                        <li>Особенности: <strong>перепады, неровности стен до 6 см</strong></li>
                    </ul>
                </div>

                <div class="feedback__box-right">
                    <img src="./img/avatar.png" alt="icon">

                    <div class="name">Заказчик: <strong>Нахимов Артём</strong></div>

                    <div class="text"><p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Подпоясал себя возвращайся, коварных грамматики запятых рукопись власти диких большого lorem если ее сбить ему инициал там путь свой составитель проектах? Власти имеет своего даль коварный заманивший переулка языком, не вскоре раз реторический путь курсивных это напоивший своих оксмокс единственное.</p></div>
                </div>
            </div>

        </div>
    </div>
</section>