<section class="header__body" style="background-image: url('./img/header-bg.jpg')" >

    <div class="container">

        <div class="header__body-content">

            <h1 class="title">Ремонтные работы любой сложности!</h1>
    
            <p class="subtitle">Профессиональная работа в кратчайшие сроки</p>
    
            <span class="price">стоимость работ от <strong>???</strong> $/m<sup>2</sup></span>
    
            <strong class="trigger">оплата по факту!</strong>
    
        </div>
    
        <div class="header__body-form">
    
            <h2 class="title">Для расчёта стоимости, закажите выезд мастера</h2>
    
            <form action="#">
                <label for="name">Ваше имя</label>
                <input type="text">
    
                <label for="name">Номер телефона</label>
                <input type="text">
            </form>
    
            <a href="mailto:irrepressible1506@gmail.com" class="btn">оставте заявку</a>
    
            <small>Приедем в день рбращения</small>
        </div>
        
    </div>
    
</section>