<header class="header">

    <a href="/" class="header__logo">
        <img src="./img/logo.png" alt="logo">Мечта Мастера
    </a>

    <nav class="header__menu">
        <input id="checkbox" type="checkbox">

        <label for="checkbox">
            <div class="burger">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
                <span class="line line4"></span>
            </div>
        </label>

        <div class="header__menu-box">
            <ul class="header__menu-content">

                <li class="header__menu-item">
                    <a href="#" class="active">Главная</a>
                </li>

                <li class="header__menu-item">
                    <a href="#">Преимущества</a>
                </li>

                <li class="header__menu-item">
                    <a href="#">Цены</a>
                </li>

                <li class="header__menu-item">
                    <a href="#">Отзывы</a>
                </li>

                <li class="header__menu-item">
                    <a href="#">Контакты</a>
                </li>

            </ul>
        </div>

    </nav>

    <div class="header__actions">

        <button class="header__actions-phone">
            <img src="./img/iphone.svg" alt="phone">
        </button>

        <button class="header__actions-btn">Получить консультацию</button>

    </div>

    <!--<div class="header__bg">
        <img src="./img/header-bg.jpg" alt="header-bg">

        <a href="tel:+380734684589">+38(073) 468 45 89</a>
            <a href="tel:+380958961949">+38(095) 896 19 49</a>
            <a href="tel:+380637927049">+38(063) 792 70 49</a>
    </div>-->

</header>