<header class="header" id="header">

    <div class="container">

        <a href="/" class="header__logo">
            <img src="./img/logo.png" alt="logo">Мечта Мастера
        </a>
    
        <nav class="header__menu">
            <input id="checkbox" type="checkbox">
    
            <label for="checkbox">
                <div class="burger">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                    <span class="line line4"></span>
                </div>
            </label>
    
            <div class="header__menu-box">
                <ul class="header__menu-content">
    
                    <li class="header__menu-item">
                        <a href="#" class="active">Главная</a>
                    </li>
    
                    <li class="header__menu-item">
                        <a href="#features">Преимущества</a>
                    </li>
    
                    <li class="header__menu-item">
                        <a href="#price">Цены</a>
                    </li>
    
                    <li class="header__menu-item">
                        <a href="#feedback">Отзывы</a>
                    </li>
    
                    <li class="header__menu-item">
                        <a href="#contacts">Контакты</a>
                    </li>
    
                </ul>
            </div>
    
        </nav>
    
        <div class="header__actions">
    
            <div class="header__actions-phone">
                <img src="./img/iphone.svg" alt="phone">
            </div>
    
            <ul class="header__actions-tel">
                <li><a href="tel:+380734684589">+38(073) 468 45 89</a></li>
                <li><a href="tel:+380958961949">+38(095) 896 19 49</a></li>
                <li><a href="tel:+380637927049">+38(063) 792 70 49</a></li>
            </ul>
    
            <a class="btn">Получить консультацию</a>
    
        </div>
        
    </div>

</header>