<section class="price" id="price" style="background-image: url('./img/teamwork.jpg')">
    <div class="container">

        <div class="section-title">
            <h2>Цены</h2>
            <p>Выберите вариант, который подходит Вам:</p>
        </div>

        <div class="price__box">

            <div class="price__box-item">
                <h3 class="title">Работа с Вашим материалом</h3>
                <img data-lazy="" src="./img/build-you.png" alt="icon">
                <div class="description">
                    <span>от ??? $/m<sup>2</sup></span>
                    <ul>
                        <li>Проведение работ.</li>
                        <li>Уборка.</li>
                    </ul>
                </div>
                <a href="#popup" class="price__box-btn">Заказать</a>
            </div>

            <div class="price__box-item">
                <h3 class="title">Работа с Нашим материалом</h3>
                <img src="./img/build-we.png" alt="icon">
                <div class="description">
                    <span>от ??? $/m<sup>2</sup></span>
                    <ul>
                        <li>Завоз материала и его объём.</li>
                        <li>Проведение работ.</li>
                        <li>Уборка.</li>
                        <li>Гарантия 2 года.</li>
                    </ul>
                </div>
                <a href="#popup" class="price__box-btn">Заказать</a>
            </div>

            <div class="price__box-item">
                <h3 class="title">Проект под ключ</h3>
                <img src="./img/engineer.png" alt="icon">
                <div class="description">
                    <span>от ??? $/m<sup>2</sup></span>
                    <ul>
                        <li>Подготовка проекта</li>
                        <li>Расчёт стоимости</li>
                        <li>Завоз материала и его объём.</li>
                        <li>Проведение работ.</li>
                        <li>Уборка.</li>
                        <li>Гарантия 2 года.</li>
                    </ul>
                </div>
                <a href="#popup" class="price__box-btn">Заказать</a>
            </div>

        </div>

        <div id="popup" class="popup">
            <a href="#header" class="popup__area"></a>

            <div class="popup__form">
    
                <h2 class="title">Для расчёта стоимости, закажите выезд мастера</h2>
        
                <form action="#">
                    <label for="name">Ваше имя</label>
                    <input type="text">
        
                    <label for="name">Номер телефона</label>
                    <input type="text">
                </form>
        
                <a href="mailto:irrepressible1506@gmail.com" class="btn">оставте заявку</a>
        
                <small>Приедем в день рбращения</small>
        
            </div>
            
        </div>

    </div>
</section>