@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

$maxWidth: 1150;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@import "./utils/fonts";
@import "./utils/normalize";
@import "./main_page/header";
@import "./main_page/privilege";
@import "./main_page/about";
@import "./main_page/info";
@import "./main_page/contacts";
@import "./main_page/footer";


html { scroll-behavior: smooth; }
	 
body {
	position: relative;
	background: #F3F3F3;
	font-family: "RobotoCondensed", sans-serif;
}

.container {
	width: 1150px;
	margin: auto;
	padding: 0 15px;
}

.btn {
	display: block;
	padding: 15px 50px 15px 50px;
	border: 2px solid #4FCC3F;
	border-radius: 4px;
	margin: 50px auto;
	text-transform: uppercase;
	line-height: 1.5;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	background: transparent;
	box-shadow: 0 0 10px #4fcc3f, 0 0 20px #4fcc3f;

	&:hover {
		background-color: #000000;
		color: #4fcc3f;
		box-shadow: none;
		transition: all 0.5s;
	}
}

.section_title {
	text-align: center;
	h2 {
        padding: 40px 0 10px;
		@include adaptiv-font (30, 20);
    }

    p { @include adaptiv-font (19, 16); }
}

.slick-list { overflow: hidden; }
.slick-track { display: flex; }
