section.add
    .add-line
        .add-line-img
            img(src="./assets/img/addRoom.jpg", alt="Room")
            .location.location-melbourn
                i.fas.fa-map-marker-alt
                |Melbourn       
        .add-line-text
            h3 Super Awesome Add
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusamus, numquam porro facilis maxime ducimus dignissimos ratione optio, inventore cum exercitationem tempora pariatur nobis dicta alias dolores dolore eveniet beatae esse! Tempora iste sed nemo.          
    .add-line.add-line-right
        .add-line-text
            h3 Super Awesome Add
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusamus, numquam porro facilis maxime ducimus dignissimos ratione optio, inventore cum exercitationem tempora pariatur nobis dicta alias dolores dolore eveniet beatae esse! Tempora iste sed nemo.      
        .add-line-img
            img(src="./assets/img/addRoom.jpg", alt="Room")
            .location.location-australia
                i.fas.fa-map-marker-alt
                |Australia
    .add-line
        .add-line-img
            img(src="./assets/img/addRoom.jpg", alt="Room")
        .add-line-text
            h3 Super Awesome Add
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga accusamus, numquam porro facilis maxime ducimus dignissimos ratione optio!
            .show-more Show me more