section.agents
    h2 Meet Our Agents
    p Lorem ipsum dolor sit amet consectetur adipisicing.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        br
        |Ipsa fuga porro architecto sed maiores!
    .agents-cards
        .agents-cards-item
            img(src="./assets/img/agents/agent1.jpg", alt="agent")
            .agent-info
                p Agent
                .agent-block
                    p.agent-name Mr. Smit
                    .social
                        i.fab.fa-twitter
                        i.fab.fa-instagram
                        i.fab.fa-facebook
        .agents-cards-item                
            img(src="./assets/img/agents/agent2.jpg", alt="agent")
            .agent-info
                p Agent
                .agent-block
                    p.agent-name Ms. Smit
                    .social
                        i.fab.fa-twitter
                        i.fab.fa-instagram
                        i.fab.fa-facebook
        .agents-cards-item                
            img(src="./assets/img/agents/agent3.jpg", alt="agent")
            .agent-info
                p Agent
                .agent-block
                    p.agent-name Mr. Smit
                    .social
                        i.fab.fa-twitter
                        i.fab.fa-instagram
                        i.fab.fa-facebook
                        
                        
