section.apartments
    .apart
        h2  More than 500+
            br
            |Appartments For Rent
        .cards-slider
            .cards-item
                img(src="./assets/img/apartments/apart.jpg", alt="Appartments For Rent")
                .cards-container
                    p   Lorem ipsum dolor sit amet consectetur.
                    .cards-container-info
                        span.money  $3,500
                        .info
                            span
                                i.fas.fa-shower
                                |2BA
                            span
                                i.fas.fa-bed
                                |2BD

            .cards-item
                img(src="./assets/img/apartments/apart.jpg", alt="Appartments For Rent")
                .cards-container
                    p   Lorem ipsum dolor sit amet consectetur.
                    .cards-container-info
                        span.money  $3,500
                        .info
                            span
                                i.fas.fa-shower
                                |2BA
                            span
                                i.fas.fa-bed
                                |2BD

            .cards-item
                img(src="./assets/img/apartments/apart.jpg", alt="Appartments For Rent")
                .cards-container
                    p   Lorem ipsum dolor sit amet consectetur.
                    .cards-container-info
                        span.money  $3,500
                        .info
                            span
                                i.fas.fa-shower
                                |2BA
                            span
                                i.fas.fa-bed
                                |2BD

            .cards-item
                img(src="./assets/img/apartments/apart.jpg", alt="Appartments For Rent")
                .cards-container
                    p   Lorem ipsum dolor sit amet consectetur.
                    .cards-container-info
                        span.money  $3,500
                        .info
                            span
                                i.fas.fa-shower
                                |2BA
                            span
                                i.fas.fa-bed
                                |2BD

            .cards-item
                img(src="./assets/img/apartments/apart.jpg", alt="Appartments For Rent")
                .cards-container
                    p   Lorem ipsum dolor sit amet consectetur.
                    .cards-container-info
                        span.money  $3,500
                        .info
                            span
                                i.fas.fa-shower
                                |2BA
                            span
                                i.fas.fa-bed
                                |2BD

            .cards-item
                img(src="./assets/img/apartments/apart.jpg", alt="Appartments For Rent")
                .cards-container
                    p   Lorem ipsum dolor sit amet consectetur.
                    .cards-container-info
                        span.money  $3,500
                        .info
                            span
                                i.fas.fa-shower
                                |2BA
                            span
                                i.fas.fa-bed
                                |2BD
        .button-search
            form(action="")
                i.fas.fa-search
                input(type="text" placeholder="Search Locations")
                input(type="submit" value="Search")  
            bottom.all  View All Apartments           