footer.site-footer
    .site-footer-block
        .footer-logo
            h3 Luxestate
            h3 Explore Real Estate
        .footer-search
            input(type="text" placeholder="Subscribe To Our Newsletter")
            span &#8680
    hr
    .site-footer-links
        .footer-links-logo
            h4 Luxestate
        .footer-links-text
            .links-item
                p Luxestate
                a(href="#") Agents
                a(href="#") Hunters
            .links-item
                p Luxestate
                a(href="#") Agents
                a(href="#") Hunters
                a(href="#") Agents
                a(href="#") Hunters
            .links-item
                p Luxestate
                a(href="#") Agents
                a(href="#") Hunters
            .links-item
                p Luxestate
                a(href="#") Agents
                a(href="#") Hunters
                a(href="#") Agents
        