header.site-header  
    nav.site-header__menu
        input#checkbox-menu(type="checkbox")
        label(for="checkbox-menu")
            ul.menu.touch
                li
                    a.logo(href="#") Luxestate
                li
                    a(href="#")  About
                li
                    a(href="#")  Apartment
                li
                    a(href="#")  How it Work
                li
                    a(href="#")  Agents
                li
                    a.contacts(href="#") Contact Us
                li
                    a(href="#")  Join Us
                li
                    a(href="#")  Getting Started
            span.toggle &#9776