section.services
    h2 Services
    p Lorem ipsum dolor sit amet consectetur.
    p Lorem ipsum dolor sit amet.
    .services-container
        .services-container-img
            img(src="../../assets/img/servisRoom.jpg", alt="servis-room")
        .services-container-text
            h4 Renting
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates quasi odit! Sed officiis praesentium architecto! Iste nisi distinctio sed dicta vero quaerat?
            h4 Renting
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates quasi odit! Sed officiis praesentium architecto! Iste nisi distinctio sed dicta vero quaerat?
            h4 Renting
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates quasi odit! Sed officiis praesentium architecto! Iste nisi distinctio sed dicta vero quaerat?

