section.stats
    .stats-text
        h2  Our's Company
            br
            |Statistic
        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eaque deserunt incidunt, alias nulla consectetur quos qui harum necessitatibus omnis, recusandae labore obcaecati possimus suscipit quaerat, culpa aspernatur totam eligendi doloremque sit.
        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eaque deserunt incidunt, alias nulla consectetur quos qui harum necessitatibus omnis, recusandae labore obcaecati possimus suscipit quaerat, culpa aspernatur totam eligendi doloremque sit.
    
    .stats-number
        .stats-line
            .square
                span.square-stats
                    strong   7231
                span.square-text
                    strong    Appartments
            .square
                span.square-stats
                    strong   7231
                span.square-text
                    strong    Appartments

        .stats-line
            .square
                span.square-stats
                    strong   7231
                span.square-text
                    strong    Appartments
            .square
                span.square-stats
                    strong   7231
                span.square-text
                    strong    Appartments