section.steps
    h2 How It Work
    p.steps-text Lorem ipsum dolor sit amet consectetur adipisicing elit.
    p.steps-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, quia pariatur.
        br
        |Libero, accusamus fugit?
    .steps-container
        .steps-container-block#stepBlock1
            p.step-num 01
            h4
                span 01
                |Find Your Location
            p.step-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit obcaecati magni dolor possimus.
            p.step-info-last#stepBorder1 Find Location

        .steps-container-block#stepBlock2
            p.step-num 02
            h4
                span 02
                |Find Your Location
            p.step-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit obcaecati magni dolor possimus.
            p.step-info-last#stepBorder2 Find Location

        .steps-container-block#stepBlock3
            p.step-num 03
            h4
                span 03
                |Find Your Location
            p.step-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit obcaecati magni dolor possimus.
            p.step-info-last#stepBorder3 Find Location
            