.footer {
    padding: 10px 0;
    background-color: #333;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__social a { padding: 0 10px; }
}